.allcontainer{
  width: 80%;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  border: 0.1rem solid #ebebeb;
  .filtersside{
    width: 25%;
  }
  .shopside{
    width: 75%;
    border-left: 0.1rem solid #ebebeb;
    
  }
}