body{
    height: 110vh;
}
.sort {
    width: 100%;
    height: 7vh;
    display: flex;
    justify-content: space-between;
    border: 1px solid black;

    .sortright {
        width: 35%;
        background-color: aqua;
        display: flex;
        justify-content: space-around;
        align-items: center;
        button{
            padding: 2px 5px;            
        }
    }

    .sortleft {
        width: 20%;
        background-color: aqua;
        padding-left: 10px;
    }

}

.products {
    width: 100%;
    display: grid;

    ul {
        list-style: none;
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;

        img {
            max-width:100%;
        }
    }
}

.allcontainer {
    border: 1px solid black;
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    display: flex;

    .filtersside {
        width: 25%;
        border: 1px solid greenyellow;
        display: flex;
        flex-direction: column;
        gap: 20px;
        h2{
            cursor: pointer;
        }
        .colors {
            width: 70%;
            padding-top: 5px;
            margin-left: auto;
            margin-right: auto;
            display: flex;
            justify-content: space-between;
            .beige {
                width: 20px;
                height: 20px;
                background-color: #dcccba;
                border-radius: 50%;
                vertical-align: middle;
                border: none;
                appearance: none;
                outline: none;
                cursor: pointer;
            }

            .brown {
                width: 20px;
                height: 20px;
                background-color: #b87145;
                border-radius: 50%;
                vertical-align: middle;
                border: none;
                appearance: none;
                outline: none;
                cursor: pointer;
            }

            .black {
                width: 20px;
                height: 20px;
                background-color: #333333;
                border-radius: 50%;
                vertical-align: middle;
                border: none;
                appearance: none;
                outline: none;
                cursor: pointer;
            }

            .yellow {
                width: 20px;
                height: 20px;
                background-color: #fff600;
                border-radius: 50%;
                vertical-align: middle;
                border: none;
                appearance: none;
                outline: none;
                cursor: pointer;
            }

            .blue {
                width: 20px;
                height: 20px;
                background-color: #3399cc;
                border-radius: 50%;
                vertical-align: middle;
                border: none;
                appearance: none;
                outline: none;
                cursor: pointer;
            }

            .khaki {
                width: 20px;
                height: 20px;
                background-color: #728639;
                border-radius: 50%;
                vertical-align: middle;
                border: none;
                appearance: none;
                outline: none;
                cursor: pointer;
            }

            .orange {
                width: 20px;
                height: 20px;
                background-color: #ff7f50;
                border-radius: 50%;
                vertical-align: middle;
                border: none;
                appearance: none;
                outline: none;
                cursor: pointer;
            }
        }

        .price {
            width: 100%;
            display: flex;
            justify-content: space-around;
        }

        .category {
            width: 100%;
            display: flex;
            flex-direction: column;
            gap: 10px;

            label {
                width: 100%;
                display: flex;
                justify-content: space-between;
                align-items: center;

                span {
                    width: 20px;
                    height: 20px;
                    border: 1px solid black;
                    text-align: center;
                    margin-right: 10px;
                }
            }
        }

        .filter {
            width: 100%;
            height: 7vh;
            border: 1px solid black;
            display: flex;
            justify-content: space-between;
            align-items: center;

            span {
                padding-right: 10px;
                cursor: pointer;
            }
        }
    }

    .shopside {
        width: 75%;
        border: 1px solid black;
    }
}
.pagination{
    width: 100%;
    display: flex;
    justify-content: center;
    gap: 20px;
    padding: 20px;
    button{
        width: 30px;
        height: 30px;
    }
}